{erl_opts, [
    debug_info,
    report,
    verbose,
    warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_untyped_record,
    warn_unused_import,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.0.2"}
]}.


{profiles,
    [
    {test, [
        {plugins, [rebar3_proper]},
        {deps, [{proper, "1.1.1-beta"}]}
    ]},
    {lint, [
        {plugins, [{rebar3_lint,
                       {git,
                       "https://github.com/project-fifo/rebar3_lint.git",
                       {tag, "0.1.4"}}}]}
    ]},
    {coveralls, [
        {plugins, [
            {coveralls, {git, "https://github.com/Motiejus/coveralls-erl",
                            {branch, "multi_cover2"}}}
        ]}
    ]}

    ]
}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, [
    "_build/test/cover/eunit.coverdata",
    "_build/test/cover/proper.coverdata"
]}.
{coveralls_service_name, "travis-ci"}.
